.wrapper {
  overflow: hidden;
  height: 3.2rem;
  padding: .4rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.logo {
  display: inline-block;
  height: 37px;
  margin-left: 1rem;
  color: #1e90ff;
  font-size: 2rem;  
  line-height: 37px;
  cursor: pointer;
}

.logo_text {
  margin-left: .5rem;
  color: #999;
  font-size: .8rem;
}