.ant-menu {
  line-height: 2.8rem;
}

.ant-menu-item {
  font-size: 1rem;
}

.ant-breadcrumb {
  font-size: .8rem;
}

.comm_wrapper {
  margin-top: .5rem;
}

.comm_main {
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  margin-right: .5rem;
  background-color: #fff;
}

.comm_box {
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  background-color: #FFF;
}

.comm_icon {
  padding: .5rem;
  color: #aaa;
}

.comm_icon>span {
  padding: 0 20px 0 0;
}