.wrapper {
  overflow: hidden;
  height: 3.2rem;
  padding: .4rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.logo {
  font-size: 1.6rem;
  color: #1e90ff;
}

.logo_text {
  margin-left: .8rem;
  font-size: .8rem;
  color: #999;
}